<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.learnlity.learnity">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Design.Light.NoActionBar">
        <activity
            android:name=".PesentacionApp"
            android:exported="true">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
        <activity
            android:name=".Cursos.CursoUkulele"
            android:exported="false" />
        <activity
            android:name=".Cursos.CursoLogicaProgramacion"
            android:exported="false" />
        <activity
            android:name=".Cursos.CursoDesarrolloWeb"
            android:exported="false" />
        <activity
            android:name=".Cursos.CursoPython"
            android:exported="false" />
        <activity
            android:name=".Perfil"
            android:exported="false" />
        <activity
            android:name=".Registro.RegistroActivity"
            android:exported="false" />
        <activity
            android:name=".ActivityCursos"
            android:exported="false" />
        <activity
            android:name=".Registro.PerfilUsuario"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false"/>


    </application>

</manifest>